:root {
    --size: 60px;
    --fontSize: 0.95rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
    font-size: var(--fontSize);
}

*::-webkit-scrollbar {
    display: none;
}

#container {
    padding: 5px 15px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#container.hidden {
    display: none;
    padding: 0px;
}

#options {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

#options > label {
    height: var(--size);
    width: var(--size);
    position: relative;
    flex: var(--size) 0 0;
}

#options > label.unavailable {
    opacity: 30%;
}

#options > label > input {
    appearance: none;
}

#options > label > input + div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

#options > label > input:checked + div {
    border: 1px solid black;
}

#options > label > input + div > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
