.tandym-program {
  width: 100%;
  height: 6600px;
}

.wrapper {
  background-color: #fff;
  border-radius: 0.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.wrapper-link {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.125rem;
  text-decoration: none;
  display: flex;
}
.wrapper-link.border-bottom {
  border-bottom: 1px solid #ddd;
}
.wrapper-link_content {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.wrapper-link_chevron {
  width: 2rem;
  height: 2rem;
}
.wrapper-link_icon {
  width: 2rem;
  height: 2rem;
}
.wrapper-link_content-text {
  color: #121212;
}
