* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
}

/* Container for the recommendation widget */
.recommendations {
  background-color: transparent;
  min-height: 295px;
  min-width: 300px;
}

/* Widget heading */
#fs-title {
  margin: .3rem 1rem;
}

/* Recommendation item */
.recommendation-item {
  background-color: #fff;
  padding: 3px;
  margin: 3px 0;
  border-radius: 8px;
}

.recommendation-item img {
  border-radius: 4px;
  width: 8.5rem;
  object-fit: cover;
}

.recommendation-price-title__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .25rem;
}

/* Recommendation item price */
.recommendation-item p {
  font-size: 13px;
}

.recommendation-price {
  font-size: 1rem !important;
}

.recommendations-carousel {
  display: unset;
  text-align: center;
}

.carousel-container {
  display: flex;
}

.recommendation-list {
  display: flex;
gap: 5px;
  padding-left: 10px;
}

.carousel-navigation {
  margin-top: 5px;
}

.carousel-container {
  padding: 3px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling for iOS devices */
}

.carousel-container::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar on Webkit browsers (Chrome, Safari) */
}

.carousel-container::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb on Webkit browsers */
}

.carousel-container::-webkit-scrollbar-track {
  background: transparent; /* Hide the track on Webkit browsers */
}

.scroll-container {
  width: 600px;
}
