* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none !important;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
      "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
  }
  /* Container for the recommendation widget */
  .recommendations {
    background-color: transparent;
    text-align: center;
    min-height: 295px;
    min-width: 300px;
  }
  
  /* Widget heading */
  #fs-title {
    font-size: 15px;
    color: #333;
    margin: 10px 0 10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
      "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    text-align: left;
  }
  
  /* Recommendation item */
  .recommendation-item {
    background-color: #fff;
    padding: 3px;
    margin: 3px 0;
    border-radius: 8px;
    /*   Tapcart update */
    width: 140px;
    height: 285px;
  }
  
  .recommendation-item img {
    height: 206.67px;
    width: 140px;
    border-radius: 4px;
  }
  
  /* Recommendation item link */
  .recommendation-item h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
      "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
  }
  
  /* Recommendation item price */
  .recommendation-item .recommendation-price {
    width: 140px;
    height:18px;
    font-size: 14px;
    /*   color: #777; */
    margin: 5px 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
      "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
  }
  
  .recommendations-carousel {
    display: unset;
    text-align: center;
  }
  
  .carousel-container {
    display: flex;
  }
  
  .recommendation-list {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
  }
  
  .recommendation-item {
    text-align: center;
    background: transparent;
    margin: 0 5px;
  }
  .recommendation-title {
    text-align: left;
    color: #727272;
    width: 140px;
    height:31.33px;
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
  
  }
  .recommendation-price {
    text-align: left;
    color: #212121;
  }
  .carousel-navigation {
    margin-top: 5px;
  }
  
  .carousel-container {
    padding: 3px;
    overflow-x: scroll;
    min-height: 320px;
    /*   overflow: scroll; */
    /*   -webkit-overflow-scrolling: touch;  */
  }
  
  .carousel-container::-webkit-scrollbar {
    width: 0; /* Hide the scrollbar on Webkit browsers (Chrome, Safari) */
  }
  
  .carousel-container::-webkit-scrollbar-thumb {
    background: transparent; /* Hide the thumb on Webkit browsers */
  }
  
  .carousel-container::-webkit-scrollbar-track {
    background: transparent; /* Hide the track on Webkit browsers */
  }
  
  .scroll-container {
    width: 600px;
  }
  /*
  fs-look-alike-css.css
  Displaying fs-look-alike-css.css.
  */
  