* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

#container.hidden {
    width: 100%;
    height: 100%;
    display: none;
}

#link {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: black;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
}
