@import url('https://fonts.cdnfonts.com/css/circular-std');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Circular Std', sans-serif;
}

#product-carousel {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 15px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#product-carousel::-webkit-scrollbar { 
    width: 0 !important;
    height: 0 !important;
}

.product-card {
  width: 300px;
  height: 400px;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  border: 1px solid lightgray;
  padding: 5px;
  background: White;
  border-radius: 10px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

h3 {
  font-size: 14px;
  padding-left: 4px;
}

p {
  font-size: 10px;
  padding: 4px;
}

.compare {
  text-decoration: line-through;
}
