:root {
    --optionsBox: #ffecf9;
    --option: rgba(255, 0, 0, 0.1);
    --optionText: black;
    --selectedOption: #d355aa;
    --selectedOptionText: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

#container {
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

#options {
    background: var(--optionsBox);
    border-radius: 1.5em;
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

/* Option Wrapper */
#options > label {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: 30px;
    min-width: 40px;
    border-radius: 1.5em;
    overflow: hidden;
    position: relative;
}

/* Option display */
#options > label > input + div {
    background: var(--option);
    color: var(--optionText);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#options > label > input:checked + div {
    background: var(--selectedOption);
    color: var(--selectedOptionText);
}

#options > label > input {
    appearance: none;
}

#content {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
    max-height: 500px;
}

#content.collapsed {
    max-height: 0px;
    margin-top: -10px;
    opacity: 0%;
}
