* {
    box-sizing: border-box;
    padding: 0 2px;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
}

h1 {
    margin: 10px 0px;
}

.jdgm-write-rev-link.jdgm-write-rev-link{
  max-width: 200px;
}