* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overscroll-behavior: none;
}

body {
    width: 100%;
    height: 95px !important;
}

#tapcart-root {
    height: 100%;
    width: 100%;
}

body.open {
    height: 600px !important;
}

#container {
    color: #4e7780;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: calc(100% - 90px);
}

.hidden {
    display: none;
}
