* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
      "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, Arial, sans-serif;
    -ms-overflow-style: none !important;
  }
  